* {
  box-sizing: border-box;
}

.book {
  width: 60%;
  height: 90vh;
  margin: 20px auto;
  padding: 16px;
  overflow: scroll;
}

p {
  font-size: 1rem;
  line-height: 1.4rem;
  margin-bottom: 2rem;
}